<p>
  <%= form.text_field :lets_chat_url %>
</p>

<p>
  <%= form.text_field :lets_chat_token %>
</p>

<p>
  <%= form.text_field :lets_chat_room %>
</p>

<p>
  <%= form.check_box :lets_chat_notify_update %>
</p>
